*{
	margin: 0;
	padding: 0;
}
body{
    background-image: url(../images/bg.gif);
}
.gallary{
	position: relative;
	width: 700px;
	margin: 3vh auto;
	text-align: center;
}
.gallary>ul{
    margin-top: 2vh;
}
.gallary>ul>li{
    display: none;
    width:15px;
    height:15px;
    background: white;
    box-shadow: 2px 2px 10px gray;
    border-radius:50%;
    display: inline-block;
    margin-right: 3vw;
    position: relative;
}
.gallary>ul>li:last-child{
    margin-right: 0;
}
.thumbs{
	width: 2980px;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.6s ease;
}

.thumbs img{
	float: left;
	margin: 0;
	transition: transform 0.6s ease;
}

.window{
	width: 596px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
    height: 380px;
    border: 8px solid gray;
}

.zoom{
    position: absolute;
    left: -45px;
    top: -115px;
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
}






